body {
  margin: 0;
}

html {
  overflow-y: overlay;
  scroll-behavior: smooth;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.title-page {
  position: relative;
  display: flex;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
    url(/images/mountain.jpg);
  background-position: center center;
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title-words {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.title-snowscraper {
  font-family: 'League Spartan', sans-serif;
  font-size: 10em;
  font-weight: 900;
  color: white;
  margin: 0;
}

.title-description {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  font-family: 'League Spartan', sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  background-color: #263159ef;
}

.shop-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100vw;
  max-width: 100%;
}

.category-title {
  font-family: 'League Spartan', sans-serif;
  font-size: 5em;
  font-weight: 500;
  margin: 0 0 100px 0;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 100px;
}

.grid-link {
  text-decoration: none;
  color: black;
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 5%;
  height: 350px;
  padding-bottom: 20px;
}

.card-title {
  font-family: 'League Spartan', sans-serif;
  font-size: 2em;
  font-weight: 400;
}

.card-image {
  height: 200px;
  margin-bottom: 10px;
}

.card-shopnow {
  cursor: pointer;
  width: 200px;
  height: 100px;
  font-family: 'League Spartan', sans-serif;
  font-size: 1em;
  color: black;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(124, 124, 124);
  border-radius: 10px;
}

.card-shopnow:hover {
  background-color: #d4d4d4;
}

.card-shopnow:focus {
  background-color: #a3a3a3;
}

.card-description {
  font-family: 'League Spartan', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.store-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 500px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 100),
      rgba(255, 255, 255, 0) 60%
    ),
    url('/images/valley.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.store-descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-list-header {
  font-size: 3em;
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.store-list-short {
  font-size: 1.3em;
  font-family: 'League Spartan', sans-serif;
}

.store-logo-list {
  background-color: rgba(0, 0, 0, 0.185);
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.store-logos {
  width: 20%;
  object-fit: cover;
  filter: brightness(80%) contrast(170%);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 80px;
  background-color: transparent;
  transition: 500ms ease;
}

.navbar-icons {
  visibility: hidden;
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.logo-section > h1 {
  margin-left: 10px;
  font-family: 'League Spartan', sans-serif;
  color: white;
}

.navbar-logo {
  height: 100%;
  opacity: 0;
  transition: 500ms;
  cursor: pointer;
}

.navbar-title {
  font-size: 1.8em;
  display: none;
  transition: 500ms;
  cursor: pointer;
}

.navbar-features-mobile {
  position: absolute;
  display: none;
}

.navbar-features,
.feature-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hamburger {
  display: none;
  height: fit-content;
}

.fa-bars,
.fa-xmark {
  font-size: 2em;
}

.navbar-features {
  width: 50%;
}

.navbar-features > a {
  cursor: pointer;
  text-decoration: none;
}

.feature-div {
  width: 100%;
}

.feature-div > p {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

#refer-login {
  position: relative;
}

.fa-arrow-right-from-bracket {
  display: none;
  position: relative;
  font-size: 1.3em;
  color: white;
  margin-left: 10px;
}

/* FOOTER */
.footer {
  padding: 50px 0 20px 0;
  background-color: #26272b;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}

.footer-container {
  width: 80%;
}

.footer-part-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
  padding-right: 50px;
  padding-bottom: 15px;
}

.contact-us {
  margin: 0 60px 0 0;
}

.contact-us > h1 {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.2;
}

.location,
.phone-email {
  color: #737373;
  width: 230px;
}

.location > p,
.phone-email > p {
  font-size: 15px;
  margin: 10px 0 5px 0;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.LEGAL {
  margin-top: 5px;
  width: 230px;
  font-family: 'Source Sans Pro', sans-serif;
}

.LEGAL > h1 {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.2;
}

.LEGAL > p {
  margin: 10px 0 8px 0;
  font-size: 15px;
  text-decoration-line: underline;
  color: #737373;
}

.footer-part-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #737373;
}

.footer-part-2 > p {
  font-size: 15px;
  padding-top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px 0 8px 0;
  color: #737373;
}

.social-icons {
  text-align: right;
}
.social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

/* media queries for footer */
@media (max-width: 920px) {
  .contact-info {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .footer-container {
    width: 80%;
  }
  .footer-part-1 {
    flex-direction: column;
  }

  .footer-part-2 {
    flex-direction: column;
    align-items: center;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
  #legal {
    margin-top: 10px;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-left: 6px;
  margin-right: 0px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.instagram:hover {
  background-color: #ea4c89;
}

@media screen and (max-width: 1200px) {
  .title-snowscraper {
    font-size: 8em;
  }

  .title-description {
    font-size: 1.5em;
  }

  .category-grid {
    grid-template-columns: repeat(3, 250px);
    grid-gap: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .title-snowscraper {
    font-size: 7em;
  }

  .category-grid {
    grid-template-columns: repeat(3, 200px);
    grid-gap: 50px;
  }

  .grid-card {
    height: 300px;
  }

  .card-image {
    height: 150px;
  }

  .card-shopnow {
    width: 150px;
  }
}

@media screen and (max-width: 850px) {
  .title-snowscraper {
    font-size: 6em;
  }

  .title-description {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 750px) {
  .title-snowscraper {
    font-size: 4.5em;
  }

  .title-description {
    font-size: 1em;
  }

  .category-grid {
    grid-template-columns: repeat(3, 175px);
    grid-gap: 25px;
  }

  .grid-card {
    height: 270px;
  }

  .card-image {
    height: 130px;
  }

  .card-shopnow {
    width: 120px;
    height: 40px;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .logo-section {
    position: relative;
  }

  .navbar-features {
    display: none;
  }

  .navbar-features-mobile {
    transition: 500ms;
    top: 80px;
    right: -125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 125px;
    height: 90vh;
    background-color: rgb(38, 49, 89);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    visibility: visible;
    position: absolute;
    top: 20px;
    right: 25px;
    color: white;
  }

  .feature-div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-features-mobile > a {
    text-decoration: none;
  }

  .navbar-icons {
    visibility: visible;
    height: 100%;
    color: white;
    font-size: 2em;
  }

  .logout-icon {
    visibility: hidden;
  }

  .category-title {
    font-size: 4em;
  }

  .category-grid {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 550px) {
  .title-snowscraper {
    font-size: 3.5em;
  }

  .title-description {
    font-size: 1em;
  }

  .store-list-header {
    font-size: 2.5em;
  }

  .store-list-short {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 450px) {
  .title-snowscraper {
    font-size: 2.8em;
  }

  .title-description {
    font-size: 1em;
  }

  .navbar-title {
    font-size: 1.5em;
  }

  .store-list-header {
    font-size: 2.5em;
  }

  .store-list-short {
    font-size: 1.2em;
  }

  .shop-category {
    margin-top: 50px;
  }

  .category-title {
    margin: 0 0 50px 0;
    font-size: 3em;
  }

  .category-grid {
    grid-template-columns: repeat(1, 200px);
  }
}
