body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/images/mountain.jpg');
    background-position: center center;
    background-size: cover;
}

.back-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    color: black;
    z-index: 100;
    left: 1%;
    top: 1%;
}

.back-arrow > i {
    font-size: 2.2em;
}

.back-arrow > p {
    padding-left: 10px;
    font-size: 1em;
    font-family: 'League Spartan', sans-serif;
}

.container {
    width: 380px;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.login-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0%;
    border: black 1px solid;
    border-radius: 5%;
    padding: 40px 70px;
    background: transparent;
    backdrop-filter: blur(20px);
}

.login-title {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}

.login-email, .login-password {
    display: flex;
    flex-direction: column;
}

.login-email {
    margin-bottom: 20px;
}

.input-title {
    padding-left: 5px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

.login-input, .forgot-input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    background: transparent;
}

.login-input:focus {
    outline: none;
}

.forgot-btn, .register-link {
    cursor: pointer;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    color: black;
}

.forgot-btn:hover {
    text-decoration: underline;
}

.login-btn {
    cursor: pointer;
    width: 220px;
    height: 35px;
    border: none;
    font-size: 1em;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}

.register {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.register-click {
    margin-left: 5px;
    cursor: pointer;
    font-weight: 700;
}

.register-click:hover {
    text-decoration: underline;
}


.register-box {
    display: flex;
    position: absolute;
    left: 105%;
    flex-direction: column;
    border: black 1px solid;
    border-radius: 5%;
    padding: 40px 70px;
    background: transparent;
    backdrop-filter: blur(20px);
}

.register-title {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}

.register-name, .register-email, .register-password, .register-password-again {
    display: flex;
    flex-direction: column;
}

.register-name, .register-email, .register-password, .register-password-again {
    margin-bottom: 20px;
}

.register-input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    background: transparent;
}

.register-input:focus {
    outline: none;
}

.register-btn {
    cursor: pointer;
    width: 220px;
    height: 35px;
    border: none;
    font-size: 1em;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}

.login {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.login-click, .login-click-forgor {
    margin-left: 5px;
    cursor: pointer;
    font-weight: 700;
}

.login-click:hover, .login-click-forgor:hover {
    text-decoration: underline;
}

.forgor-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 105%;
    border: black 1px solid;
    border-radius: 5%;
    padding: 40px 70px;
    background: transparent;
    backdrop-filter: blur(20px);
}

.success-div {
    opacity: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5%;
    background-color: #2631598b;
    padding: 0 20px;
    transition: 500ms ease;
}

.success-div > p {
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;    
}