* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.btn-primary {
  color: #ffffff;
  /* contrast to secondary colour */
  font-size: 150%;
  background-color: #001247;
  /* some secondary colour */
  border-color: #001247;
  /* some accent colour */
  border-width: thick
}

.container-hero {
  display: flex;
  justify-content: center;
}

.row {
  display: inherit;
  justify-content: space-evenly;
  width: 70%;
}

.col-sm-4 {

}